@if (false) {
<!-- CTA -->
<div class="bg-soft-success">
    <div class="container content-space-1 content-space-md-3">
      <div class="row">
        <div class="col-md-5 col-lg-6 mb-5 mb-lg-0">
          <h3>Bądź na bieżąco</h3>
          <p class="fs-6">Click below to access the Space API or join the Discord channel to share your solutions with the world</p>
        </div>
        <!-- End Col -->
  
        <div class="col-md-7 col-lg-6 align-self-center">
          <form>
            <!-- Input Card -->
            <div class="input-card input-card-sm">
              <div class="input-card-form">
                <input type="text" class="form-control form-control-lg" placeholder="Your business email" aria-label="Your business email">
              </div>
              <button type="button" class="btn btn-primary btn-lg">Zapisz się</button>
            </div>
            <!-- End Input Card -->
          </form>
        </div>
        <!-- End Col -->
      </div>
      <!-- End Row -->
    </div>
  </div>
  <!-- End CTA -->
}

<div class="bg-soft-success">
  <!-- Subscribe -->
  <div class="container content-space-1">
    <!-- Heading -->
    <div class="w-lg-65 text-center mx-lg-auto mb-7">
      <h3>Newsletter. Bądź na bieżąco.</h3>
    </div>
    <!-- End Heading -->
  
    <div class="text-center mx-auto" style="max-width: 32rem;">
      <form>
        <!-- Input Card -->
        <div class="input-card input-card-sm border">
          <div class="input-card-form">
            <input type="text" class="form-control form-control-lg" placeholder="Your email" aria-label="Your email">
          </div>
          <button type="button" class="btn btn-primary btn-lg" id="heroNameAddOn">Subscribe</button>
        </div>
        <!-- End Input Card -->
      </form>
  
      <!-- <a class="link" href="../page-login.html">Create a free account <i class="bi-chevron-right small ms-1"></i></a> -->
    </div>
  </div>
  <!-- End Subscribe -->
</div>
