<!-- Hero -->
<div class="shape-container bg-soft-warning">
    <div class="position-relative zi-2">
      <div class="container content-space-1 content-space-md-3">
        <!-- Heading -->
        <div class="w-lg-50 mb-10">
          <h1 class="display-3 text-primary">Masz <span class="text-warning">pytanie</span>?</h1>
          <p class="lead">Chcesz dowiedzieć się więcej o naszych produktach? Skontaktuj się z nami.</p>
        </div>
        <!-- End Heading -->
  
        <div class="row">
          <div class="col-md-4 mb-5 mb-md-0">
            <div class="me-md-6">
              <span class="svg-icon text-primary mb-3">
  
  
  
  
  
              </span>
  
              <h5>Sprzedaż</h5>
              <p>Masz pytania dotyczące naszych produktów? Skontaktuj się z nami.</p>
              <a href="#">Get in touch <i class="bi-chevron-right small ms-1"></i></a>
            </div>
          </div>
          <!-- End Col -->
  
          <div class="col-md-4 mb-5 mb-md-0">
            <div class="me-md-6">
              <span class="svg-icon text-primary mb-3">
  
  
  
  
  
              </span>
  
              <h5>Wsparcie klienta</h5>
              <p>Got a technical issue or need strategic advice? Our support team is here to help.</p>
              <a href="#">Get help <i class="bi-chevron-right small ms-1"></i></a>
            </div>
          </div>
          <!-- End Col -->
  
          <div class="col-md-4">
            <div class="me-md-6">
              <span class="svg-icon text-primary mb-3">
  
  
  
  
  
              </span>
  
              <h5>Współpraca</h5>
              <p>Let's team up to boost productivity and accelerate business growth</p>
              <a href="#">Become a partner <i class="bi-chevron-right small ms-1"></i></a>
            </div>
          </div>
          <!-- End Col -->
        </div>
        <!-- End Row -->
      </div>
    </div>
  
    <!-- Shape -->
    <div class="shape shape-bottom zi-1">
      <svg width="3000" height="600" viewBox="0 0 3000 600" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M0 600H3000V0L0 600Z" fill="#fff"/>
      </svg>
    </div>
    <!-- End Shape -->
  </div>
  <!-- End Hero -->