<!-- @if (article) {
    <div>
        <h2>{{ article.title }}</h2>
        <p>{{ article.body }}</p>
    </div>
    <div>
        <h3>Kategorie</h3>
        @for (category of article.categories; track category.documentId) {
            {{ category.name }}
        }
    </div>
    <div>
        <h3>Pliki</h3>
        @for (download of article.downloads; track download.documentId) {
            <a [href]="`${apiUrl}${download.url}`" target="_blank">{{ download.caption ? download.caption : 'Download' }}</a>
        }
    </div>
} -->
@if (article) {
<!-- Description -->
<div class="container content-space-1">
    <div class="w-lg-75 mx-lg-auto">
      <div class="mb-4">
        <h2 class="h4">{{ article.title }}</h2>
        <p>{{ article.abstract }}</p>
      </div>
  
      <!-- Media -->
      <div class="d-flex align-items-center mb-4">
        <div class="flex-shrink-0">
          <img class="avatar avatar-circle" src="../assets/img/160x160/img10.jpg" alt="Image Description">
        </div>
  
        <div class="flex-grow-1 ms-3">
          <h6 class="mb-0">Sara Śnioch</h6>
  
          <ul class="list-inline list-separator small text-muted mb-0">
            <li class="list-inline-item">
              <span>3 months ago</span>
            </li>
            <li class="list-inline-item">
              Updated
            </li>
          </ul>
        </div>
      </div>
      <!-- End Media -->
  
      <p>Space is an incredibly beautiful, fully responsive, and mobile-first projects on the web – it is the perfect starting point for any creative and professional sites. Get started with Space's components and options for laying out your Space project, including SVG components, powerful scripts, fully detailed documentation, and yet developer friendly code.</p>
  
      <h4>Free updates and support</h4>
  
      <p>We would like to draw your attention to the fact that after purchasing a Space Template copy, you get the right for a <span class="fw-bold">lifetime</span> entitlement to download updates for <span class="fw-bold">FREE!</span> Need help? For any questions or concerns, reach us out at.</p>
  
      <ul class="list-py-1">
        <li><span class="fw-bold">Free updates:</span> Space offers a lifetime free updates. This means you will never pay for any bug-fixes and compatibility upgrades for your theme, ever.</li>
        <li><span class="fw-bold">Technical support:</span> As always, our Customer Support team is available 24/7 to answer any questions you might have. We will do our best to get back to you within <span class="fw-bold">24-48 hours</span>.</li>
      </ul>
  
      <p>Space Template is built by the team that has customers in the background such us Stanford University, The University of Maryland, University of Victoria and many more Governments, Corporate Agencies. To bring the most modern look of any HTML5 template across all Marketplaces – powered by Bootstrap 4, Space sets the new standard with breathtaking design, top-notch support, and incredible featured packed updates that will save your precious time and gives trendy look to all your web projects. On top of that the creators of Bootstrap have closely monitored the ongoing process of the Space and helped to achieve an enormous result.</p>
    </div>
  </div>
  <!-- End Description -->
  
  <!-- Info -->
  <div class="container">
    <div class="w-lg-75 mx-lg-auto">
      <div class="bg-light text-center rounded py-10 px-5">
        <div class="mb-3">
          <h5>Was this article helpful?</h5>
        </div>
  
        <div class="d-flex justify-content-center gap-3 mb-3">
          <button type="button" class="btn btn-primary">
            <i class="bi-hand-thumbs-up me-1"></i> Yes, thanks!
          </button>
          <button type="button" class="btn btn-soft-primary">
            <i class="bi-hand-thumbs-down me-1"></i> Not, really
          </button>
        </div>
  
        <p class="small mb-0">93 out of 132 found this helpful</p>
      </div>
    </div>
  </div>
  <!-- End Info -->
}
