@if (article) {
    <div>
        <h2>{{ article.title }}</h2>
        <p>{{ article.body }}</p>
    </div>
    <div>
        <h3>Kategorie</h3>
        @for (category of article.categories; track category.documentId) {
            {{ category.name }}
        }
    </div>
    <div>
        <h3>Pliki</h3>
        @for (download of article.downloads; track download.documentId) {
            <a [href]="`${apiUrl}${download.url}`" target="_blank">{{ download.caption ? download.caption : 'Download' }}</a>
        }
    </div>
}