<div class="bg-soft-primary-light">
    <div class="container content-space-1">
      <div class="w-lg-75 mx-lg-auto">
        <div class="mb-5">
          <a href="./page-careers.html"><i class="bi-chevron-left small me-1"></i> Back to Listings</a>
        </div>

        <div class="row align-items-md-center">
          <div class="col-md-6 mb-5 mb-md-0">
            <h1 class="h3">Android Engineer</h1>

            <ul class="list-inline list-separator">
              <li class="list-inline-item">London, UK</li>
              <li class="list-inline-item">Business Strategy</li>
              <li class="list-inline-item">Full-Time</li>
            </ul>
          </div>
          <!-- End Col -->

          <div class="col-md-6">
            <div class="d-md-flex justify-content-md-end">
              <a class="js-apply-tab btn btn-primary" href="javascript:;">Apply now</a>
            </div>
          </div>
          <!-- End Col -->
        </div>
        <!-- End Row -->
      </div>
    </div>
  </div>