<!-- ========== HEADER ========== -->
<header id="header" class="navbar navbar-expand-lg navbar-light navbar-end bg-white">
  <div class="container">
    <nav class="js-mega-menu navbar-nav-wrap">
      <!-- Default Logo -->
      <a class="navbar-brand" [routerLink]="['/' | localize]" aria-label="Space">
        <!-- PFA -->
        <img class="navbar-brand-logo" src="./assets/svg/logos/logo.svg" alt="Image Description">
      </a>
      <!-- End Default Logo -->

      <!-- Toggler -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-default">
          <i class="bi-list"></i>
        </span>
        <span class="navbar-toggler-toggled">
          <i class="bi-x"></i>
        </span>
      </button>
      <!-- End Toggler -->

      <!-- Collapse -->
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <!-- Artykuły -->
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/articles' | localize]">{{ 'app.links.articles' | translate }}</a>
            <!-- <a class="nav-link" href="#">Artykuły</a> -->
          </li>
          <!-- End Artykuły -->
          
          <!-- Landings -->
          <li class="hs-has-mega-menu nav-item d-none"
              data-hs-mega-menu-item-options='{
                "desktop": {
                  "maxWidth": "30rem"
                }
              }'>
            <a id="landingsMegaMenu" class="hs-mega-menu-invoker nav-link dropdown-toggle" aria-current="page" href="javascript:;" role="button" aria-expanded="false">Landings</a>

            <!-- Mega Menu -->
            <div class="hs-mega-menu hs-position-right-fix dropdown-menu" aria-labelledby="landingsMegaMenu" style="min-width: 30rem;">
              <!-- Main Content -->
              <div class="navbar-dropdown-menu-inner">
                <div class="row">
                  <div class="col-sm mb-3 mb-sm-0">
                    <span class="dropdown-header">Classic</span>
                    <a class="dropdown-item" href="#">Corporate</a>
                    <a class="dropdown-item" href="#">Agency</a>
                    <a class="dropdown-item" href="#">Consulting</a>
                    <a class="dropdown-item" href="#">Services</a>
                    <a class="dropdown-item" href="#">Business</a>
                  </div>

                  <div class="col-sm">
                    <span class="dropdown-header">Apps</span>
                    <a class="dropdown-item" href="#">Growth</a>
                    <a class="dropdown-item" href="#">SaaS</a>
                    <a class="dropdown-item" href="#">Wallet</a>
                    <a class="dropdown-item" href="#">API</a>
                  </div>
                </div>
                <!-- End Row -->
              </div>
              <!-- End Main Content -->
            </div>
            <!-- End Mega Menu -->
          </li>
          <!-- End Landings -->

          <!-- Pages -->
          <li class="hs-has-mega-menu nav-item">
            <a id="pagesMegaMenu" class="hs-mega-menu-invoker nav-link dropdown-toggle" href="javascript:;" role="button" aria-expanded="false">Pages</a>

            <!-- Mega Menu -->
            <div class="hs-mega-menu hs-position-right dropdown-menu w-100" aria-labelledby="pagesMegaMenu" style="min-width: 42rem;">
              <!-- Main Content -->
              <div class="navbar-dropdown-menu-inner">
                <div class="row">
                  <div class="col-sm-6 col-md">
                    <span class="dropdown-header">Company</span>
                    <a class="dropdown-item" href="#">About</a>
                    <a class="dropdown-item" href="#">Services</a>
                    <a class="dropdown-item" href="#">Customer Stories</a>
                    <a class="dropdown-item" href="#">Single Customer Story</a>
                    <a class="dropdown-item" href="#">Help Center</a>
                    <a class="dropdown-item" href="#">Help Center Categories</a>
                    <a class="dropdown-item" href="#">Single Help Center</a>
                  </div>

                  <div class="col-sm-6 col-md mb-3 mb-md-0">
                    <span class="dropdown-header invisible">Company</span>
                    <a class="dropdown-item" href="#">Careers</a>
                    <a class="dropdown-item" href="#">Careers Single</a>
                    <a class="dropdown-item" href="#">Hire Us</a>
                    <a class="dropdown-item" href="#">Contacts</a>
                    <a class="dropdown-item" href="#">Log In</a>
                    <a class="dropdown-item" href="#">Sign Up</a>
                    <a class="dropdown-item" href="#">Forgot Password</a>
                  </div>

                  <div class="col-sm-6 col-md mb-3 mb-md-0">
                    <span class="dropdown-header">Portfolio</span>
                    <a class="dropdown-item" href="#">Modern</a>
                    <a class="dropdown-item" href="#">Classic</a>
                    <a class="dropdown-item" href="#">Case Study</a>
                  </div>

                  <div class="col-sm-6 col-md">
                    <span class="dropdown-header">Specialty pages</span>
                    <a class="dropdown-item" href="#">Pricing</a>
                    <a class="dropdown-item" href="#">Coming Soon</a>
                    <a class="dropdown-item" href="#">Error 404</a>
                    <a class="dropdown-item" href="#">Terms & Conditions</a>
                    <a class="dropdown-item" href="#">Privacy & Policy</a>
                  </div>
                </div>
                <!-- End Row -->
              </div>
              <!-- End Main Content -->
            </div>
            <!-- End Mega Menu -->
          </li>
          <!-- End Pages -->

          <!-- Blog -->
          <li class="hs-has-sub-menu nav-item">
            <a id="blogMegaMenu" class="hs-mega-menu-invoker nav-link dropdown-toggle" href="javascript:;" role="button" aria-expanded="false">Blog</a>

            <!-- Mega Menu -->
            <div class="hs-sub-menu dropdown-menu" aria-labelledby="blogMegaMenu" style="min-width: 12rem;">
              <a class="dropdown-item" href="#">Classic</a>
              <a class="dropdown-item" href="#">Author Profile</a>
              <a class="dropdown-item" href="#">Single Article</a>
            </div>
            <!-- End Mega Menu -->
          </li>
          <!-- End Blog -->

          <!-- Docs -->
          <li class="hs-has-mega-menu nav-item"
              data-hs-mega-menu-item-options='{
                "desktop": {
                  "maxWidth": "20rem"
                }
              }'>
            <a id="docsMegaMenu" class="hs-mega-menu-invoker nav-link dropdown-toggle" href="javascript:;" role="button" aria-expanded="false">Docs</a>

            <!-- Mega Menu -->
            <div class="hs-mega-menu hs-position-right dropdown-menu" aria-labelledby="docsMegaMenu" style="min-width: 20rem;">
              <!-- Link -->
              <a class="navbar-dropdown-menu-media-link" href="#">
                <div class="d-flex">
                  <div class="flex-shrink-0">
                    <span class="svg-icon svg-icon-sm text-primary">
                      <img src="./assets/vendor/duotone-icons/gen/gen005.svg">
                    </span>
                  </div>

                  <div class="flex-grow-1 ms-3">
                    <span class="navbar-dropdown-menu-media-title">Documentation <span class="badge bg-primary rounded-pill ms-1">v1.0</span></span>
                    <p class="navbar-dropdown-menu-media-desc">Development guides for building projects with Space</p>
                  </div>
                </div>
              </a>
              <!-- End Link -->

              <div class="dropdown-divider"></div>

              <!-- Link -->
              <a class="navbar-dropdown-menu-media-link" href="#">
                <div class="d-flex">
                  <div class="flex-shrink-0">
                    <span class="svg-icon svg-icon-sm text-primary">x
                      <img src="./assets/vendor/duotone-icons/cod/cod010.svg">
                    </span>
                  </div>

                  <div class="flex-grow-1 ms-3">
                    <span class="navbar-dropdown-menu-media-title">Snippets</span>
                    <p class="navbar-dropdown-menu-media-desc">Move quickly with copy-to-clipboard feature</p>
                  </div>
                </div>
              </a>
              <!-- End Link -->
            </div>
            <!-- End Mega Menu -->
          </li>
          <!-- End Docs -->

          <li class="nav-divider"></li>

          <!-- Log in -->
          <li class="nav-item">
            <a class="js-animation-link btn btn-ghost-secondary btn-no-focus me-2 me-lg-0" href="javascript:;" role="button" data-bs-toggle="modal" data-bs-target="#signupModal"
               data-hs-show-animation-options='{
                       "targetSelector": "#signupModalFormLogin",
                       "groupName": "idForm"
                     }'>Log in</a>

            <a class="js-animation-link d-lg-none btn btn-primary" href="javascript:;" role="button" data-bs-toggle="modal" data-bs-target="#signupModal"
               data-hs-show-animation-options='{
                       "targetSelector": "#signupModalFormSignup",
                       "groupName": "idForm"
                     }'>
              <i class="bi-person-circle me-1"></i> Sign up
            </a>
          </li>
          <!-- End Log in -->

          <!-- Sign up -->
          <li class="nav-item">
            <a class="js-animation-link d-none d-lg-inline-block btn btn-primary" href="javascript:;" role="button" data-bs-toggle="modal" data-bs-target="#signupModal"
               data-hs-show-animation-options='{
                       "targetSelector": "#signupModalFormSignup",
                       "groupName": "idForm"
                     }'>
              <i class="bi-person-circle me-1"></i> Sign up
            </a>
          </li>
          <!-- End Sign up -->
        </ul>
      </div>
      <!-- End Collapse -->
    </nav>
  </div>
</header>
<!-- ========== END HEADER ========== -->

