<!-- CTA -->
<div class="container content-space-1">
    <div class="w-lg-75 mx-lg-auto">
      <div class="row align-items-sm-center">
        <div class="col-sm-6 mb-5 mb-sm-0">
          <div class="w-75 mx-auto">
            <img class="img-fluid" src="./assets/svg/illustrations/oc-sending.svg" alt="Illustration">
          </div>
        </div>
        <!-- End Col -->
  
        <div class="col-sm-6">
          <div class="ps-sm-5">
            <div class="mb-sm-5">
              <h3>Wciąż nie znalazłeś odpowiedzi?</h3>
            </div>
  
            <a class="link" [routerLink]="['/contact' | localize]">Skontaktuj się z nami <i class="bi-chevron-right small ms-1"></i></a>
          </div>
        </div>
        <!-- End Col -->
      </div>
      <!-- End Row -->
    </div>
  </div>
  <!-- End CTA -->