@if (breadCrumbs | async) {
  <div class="border-bottom">
    <div class="container py-4">
      <div class="w-lg-75 mx-lg-auto">
        <!-- Breadcrumb -->
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb mb-0">
            @for (breadcrumb of breadCrumbs | async; track breadcrumb.label) {
                <li class="breadcrumb-item"
                  [class.active]="breadcrumb.active"
                  [attr.aria-current]="breadcrumb.active ? 'page' : null">
                    {{ breadcrumb.label }}
                </li>
            }
            <!-- <li class="breadcrumb-item active" aria-current="page">Getting started</li> -->
          </ol>
        </nav>
        <!-- End Breadcrumb -->
      </div>
    </div>
  </div>
}
