<div class="btn-group">
    <button type="button" class="btn btn-outline-primary btn-sm dropdown-toggle" id="selectLanguage" data-bs-toggle="dropdown" aria-expanded="false">
      <span class="d-flex align-items-center">
        <img class="avatar avatar-xss avatar-circle me-2" [src]="allItems[currentLanguage].flag" alt="Image description" width="16"/>
        <span>{{ allItems[currentLanguage].label | translate }}</span>
      </span>
    </button>

    <div class="dropdown-menu">
        @for (item of getAllItems(); track item.routerLink) {
            <app-language-picker-item [item]="item"></app-language-picker-item>
        }
      <!-- <a class="dropdown-item d-flex align-items-center" [routerLink]="['/pl']">
        <img class="avatar avatar-xss avatar-circle me-2" src="./assets/vendor/flag-icon-css/flags/1x1/pl.svg" alt="Image description" width="16"/>
        <span>Polski (PL)</span>
      </a> -->
    </div>
</div>