<!-- FAQ -->
<div class="container content-space-1">
    <div class="text-center">
      <img class="mb-5" src="../assets/svg/illustrations/oc-looking-for-answers.svg" alt="Illustration" style="max-width: 15rem;">
    </div>
  
    <!-- Heading -->
    <div class="w-lg-65 text-center mx-lg-auto mb-7">
      <h3>Najczęściej zadawane pytania</h3>
    </div>
    <!-- End Heading -->
  
    <!-- Accordion -->
    <div class="w-lg-85 mx-lg-auto mb-7">
      <div class="accordion accordion-flush" id="accordionFAQEg1">

        @for (faq of faqs; track faq.question; let i = $index, first = $first) {
          <!-- Accordion Item -->
          <div class="accordion-item">
            <div class="accordion-header" [id]="`headingOneEg${i}`">
            <a class="accordion-button collapsed"
                role="button"
                data-bs-toggle="collapse"
                [attr.data-bs-target]="`#collapseOneEg${i}`"
                [attr.aria-expanded]="false"
                [attr.aria-controls]="`collapseOneEg${i}`">
              {{ faq.question }}
            </a>
          </div>
          <div [id]="`collapseOneEg${i}`"
            class="accordion-collapse collapse"
            [attr.aria-labelledby]="`headingOneEg${i}`"
            data-bs-parent="#accordionFAQEg1">
            <div class="accordion-body">
              {{ faq.answer }}
            </div>
          </div>
        </div>
        <!-- End Accordion Item -->
        }

      </div>
    </div>
    <!-- End Accordion -->
  
    <!-- Info -->
    <div class="text-center">
      <p class="mb-0">Nadal masz wątpliwości?</p>
      <a class="link" [routerLink]="['/contact' | localize]">Skontaktuj się z nami <i class="bi-chevron-right small ms-1"></i></a>
    </div>
    <!-- End Info -->
  </div>
  <!-- End FAQ -->