<!-- FAQ -->
<div class="container content-space-1">
    <div class="text-center">
      <img class="mb-5" src="../assets/svg/illustrations/oc-looking-for-answers.svg" alt="Illustration" style="max-width: 15rem;">
    </div>
  
    <!-- Heading -->
    <div class="w-lg-65 text-center mx-lg-auto mb-7">
      <h3>Najczęściej zadawane pytania</h3>
    </div>
    <!-- End Heading -->
  
    <!-- Accordion -->
    <div class="w-lg-85 mx-lg-auto mb-7">
      <div class="accordion accordion-flush" id="accordionFAQEg1">
        <!-- Accordion Item -->
        <div class="accordion-item">
          <div class="accordion-header" id="headingOneEg1">
            <a class="accordion-button" role="button" data-bs-toggle="collapse" data-bs-target="#collapseOneEg1" aria-expanded="true" aria-controls="collapseOneEg1">
              What methods of payments are supported?
            </a>
          </div>
          <div id="collapseOneEg1" class="accordion-collapse collapse show" aria-labelledby="headingOneEg1" data-bs-parent="#accordionFAQEg1">
            <div class="accordion-body">
              You can purchase the themes on Bootstrap Themes via any major credit/debit card (via Stripe) or with your Paypal account. We don't support cryptocurrencies or invoicing at this time.
            </div>
          </div>
        </div>
        <!-- End Accordion Item -->
  
        <!-- Accordion Item -->
        <div class="accordion-item">
          <div class="accordion-header" id="headingTwoEg1">
            <a class="accordion-button collapsed" role="button" data-bs-toggle="collapse" data-bs-target="#collapseTwoEg1" aria-expanded="false" aria-controls="collapseTwoEg1">
              Can I cancel at anytime?
            </a>
          </div>
          <div id="collapseTwoEg1" class="accordion-collapse collapse" aria-labelledby="headingTwoEg1" data-bs-parent="#accordionFAQEg1">
            <div class="accordion-body">
              If you'd like a refund please reach out to us at <a href="#">themes&#64;getbootstrap.com</a>. If you need technical help with the theme before a refund please reach out to the seller first and they can get in touch with us if they're unable to resolve the issue.
            </div>
          </div>
        </div>
        <!-- End Accordion Item -->
  
        <!-- Accordion Item -->
        <div class="accordion-item">
          <div class="accordion-header" id="headingThreeEg1">
            <a class="accordion-button collapsed" role="button" data-bs-toggle="collapse" data-bs-target="#collapseThreeEg1" aria-expanded="false" aria-controls="collapseThreeEg1">
              How do I get a receipt for my purchase?
            </a>
          </div>
          <div id="collapseThreeEg1" class="accordion-collapse collapse" aria-labelledby="headingThreeEg1" data-bs-parent="#accordionFAQEg1">
            <div class="accordion-body">
              You'll receive an email from Bootstrap themes once your purchase is complete.
            </div>
          </div>
        </div>
        <!-- End Accordion Item -->
  
        <!-- Accordion Item -->
        <div class="accordion-item">
          <div class="accordion-header" id="headingFourEg1">
            <a class="accordion-button collapsed" role="button" data-bs-toggle="collapse" data-bs-target="#collapseFourEg1" aria-expanded="false" aria-controls="collapseFourEg1">
              Which license do I need?
            </a>
          </div>
          <div id="collapseFourEg1" class="accordion-collapse collapse" aria-labelledby="headingFourEg1" data-bs-parent="#accordionFAQEg1">
            <div class="accordion-body">
              There are three license types - <a href="#">Standard</a>, <a href="#">Multisite</a>, and <a href="#">Extended</a>. We've provided the table below for a quick look at the difference between the them, as well as a few examples of ways each license could be used. If you'd like more of the nitty-gritty details you can find them below and always feel free to reach out with any questions you have at <a href="#">themes&#64;getbootstrap.com</a>.
            </div>
          </div>
        </div>
        <!-- End Accordion Item -->
  
        <!-- Accordion Item -->
        <div class="accordion-item">
          <div class="accordion-header" id="headingFiveEg1">
            <a class="accordion-button collapsed" role="button" data-bs-toggle="collapse" data-bs-target="#collapseFiveEg1" aria-expanded="false" aria-controls="collapseFiveEg1">
              How do I get access to a theme I purchased?
            </a>
          </div>
          <div id="collapseFiveEg1" class="accordion-collapse collapse" aria-labelledby="headingFiveEg1" data-bs-parent="#accordionFAQEg1">
            <div class="accordion-body">
              If you lose the link for a theme you purchased, don't panic! We've got you covered. You can login to your account, tap your avatar in the upper right corner, and tap Purchases. If you didn't create a login or can't remember the information, you can use our handy Redownload page, just remember to use the same email you originally made your purchases with.
            </div>
          </div>
        </div>
        <!-- End Accordion Item -->
  
        <!-- Accordion Item -->
        <div class="accordion-item">
          <div class="accordion-header" id="headingSixEg1">
            <a class="accordion-button collapsed" role="button" data-bs-toggle="collapse" data-bs-target="#collapseSixEg1" aria-expanded="false" aria-controls="collapseSixEg1">
              Upgrade License Type
            </a>
          </div>
          <div id="collapseSixEg1" class="accordion-collapse collapse" aria-labelledby="headingSixEg1" data-bs-parent="#accordionFAQEg1">
            <div class="accordion-body">
              There may be times when you need to upgrade your license from the original type you purchased and we have a solution that ensures you can apply your original purchase cost to the new license purchase.
            </div>
          </div>
        </div>
        <!-- End Accordion Item -->
      </div>
    </div>
    <!-- End Accordion -->
  
    <!-- Info -->
    <div class="text-center">
      <p class="mb-0">Still have questions?</p>
      <a class="link" href="../page-contacts.html">Contact our friendly support team <i class="bi-chevron-right small ms-1"></i></a>
    </div>
    <!-- End Info -->
  </div>
  <!-- End FAQ -->